.pokemon-list-container {
    margin-bottom: 5rem;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.delete-all {
    margin: 1rem 0 5rem 0;
    background-color: var(--clr-red);
    padding: 0.7em 1.5em;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: var(--clr-red-dark);
    }
}

.select-bg-container {
    display: flex;
    .bg-item {
        width: 100px;
        height: 80px;
        background-size: 300%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}

.bg-forest {
    background-image: url(../../../assets/Box_Forest.png);
}
.bg-city {
    background-image: url(../../../assets/bg-city.png);
}
.bg-desert {
    background-image: url(../../../assets/bg-desert.png);
}
.bg-pokecenter {
    background-image: url(../../../assets/bg-pokecenter.png);
}
.bg-volcano {
    background-image: url(../../../assets/bg-volcano.png);
}

.bg-selected {
    border: 8px solid var(--clr-red);
}

.list-items {
    padding: 3rem;
    background-color: rgb(90, 84, 84);
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
}

.empty-collection {
    color: white;
    background-color: rgb(69, 58, 58);
    padding: 1rem 4rem;
}
