<div class="pokemon-list-container">
    <h3>Pokemon list</h3>
    <p>
        Here is a list of the pokemons that you have collected from the
        catalogue page.
    </p>
    <p>
        You can release(remove) a pokemon by hovering over it and pressing the
        "X" button in the top left
    </p>
    <p style="margin-top: 1.5rem">
        Or you can simply press the "Delete all" button below to remove every
        pokemon
    </p>

    <button class="delete-all" (click)="btnDeleteAll()">Delete all</button>

    <h3>BATTLING</h3>
    <p style="margin-bottom: 1.5rem">
        You can enter a battle vs a random pokemon by double-clicking the
        pokeball att the bottom of a collected pokemons card.
    </p>
    <p style="margin-bottom: 2.5rem">
        <span class="bold">BE AWARE</span> that the API might be a bit slow so
        the battle wont start instantly!
    </p>
    <div class="select-bg-container">
        <ng-container *ngFor="let bg of boxBgArr">
            <div
                class="bg-item"
                [ngClass]="[
                    'bg-item',
                    'bg-' + bg.bg,
                    bg.selected ? 'bg-selected' : ''
                ]"
                (click)="bgClick($event, bg.bg)"
            ></div>
        </ng-container>
    </div>
    <div class="list-items" [ngClass]="['bg-' + getSelectedBg().bg]">
        <app-pokemon-list-item
            *ngFor="
                let pokemon of this.trainerService.trainer.pokemon;
                let i = index
            "
            [pokemon]="pokemon"
            [listId]="i"
        ></app-pokemon-list-item>
        <ng-container *ngIf="this.trainerService.trainer.pokemon.length === 0">
            <h2 class="empty-collection">
                You have no collected pokemons..
            </h2></ng-container
        >
    </div>
</div>
