<div class="list-item" [ngStyle]="{ background: backgroundStyle }">
    <div class="remove-pokemon-btn center" (click)="removeBtnClicked()">X</div>
    <header>
        <h2 class="name">{{ pokemon.name }}</h2>
        <div class="flex gap-05rem">
            <div
                class="flex v-center gap-02rem"
                *ngFor="let type of pokemon.types"
            >
                <p>{{ type }}</p>
                <div
                    class="type-ball"
                    [ngStyle]="{
                        'background-color': 'var(--clr-' + type + ')'
                    }"
                ></div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="img-container">
            <img [src]="pokemon.img" alt="" class="pokemon-img" />
        </div>
        <div class="center">
            <button
                class="pokeball-btn"
                [ngClass]="[wiggleCount == 1 ? 'animation-wiggle' : '']"
                (click)="battleBtn()"
            ></button>
        </div>
    </div>
</div>
