.list-item {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

    border: 6px solid #ffd711;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    width: 220px;
    height: 360px;
    display: flex;
    flex-direction: column;

    header {
        border-bottom: 6px solid #ffd711;
        background-color: rgb(244, 238, 238);
        padding: 0.5em;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 0.5rem;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-right: 0.2em;
        text-transform: capitalize;
    }

    p {
        font-weight: normal;
        font-size: 0.85rem;
    }

    .content {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .remove-pokemon-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        border: 4px solid black;
        border-radius: 100px;
        font-size: 1.7rem;
        font-weight: bolder;
        line-height: 0;
        cursor: pointer;
        visibility: hidden;
        z-index: 10;
        background-color: #fff;
    }

    &:hover > .remove-pokemon-btn {
        visibility: initial;
    }
}

.img-container {
    position: relative;
    width: 170px;
    height: 170px;

    margin-bottom: 1.5rem;
    border-radius: 100px;
    background-image: url(../../../assets/open-pokeball2.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.type-ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0.1px solid rgb(0, 0, 0);
}
