<nav>
    <div class="nav-logo nav-item">Pokemon App</div>
    <div class="nav-items-container">
        <div
            class="nav-item"
            [ngClass]="[activePage === 'landing' ? 'active' : '']"
            (click)="NavRedirect('landing')"
        >
            Landing
        </div>
        <div
            class="nav-item"
            [ngClass]="[activePage === 'catalogue' ? 'active' : '']"
            (click)="NavRedirect('catalogue')"
        >
            Catalogue
        </div>
        <div
            class="nav-item"
            [ngClass]="[activePage === 'trainer-page' ? 'active' : '']"
            (click)="NavRedirect('trainer-page')"
        >
            Profile
        </div>
    </div>
</nav>
