nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-red);
    padding: 1.2rem var(--h-padding);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 5px;

    .active {
        text-decoration: underline;
    }
}

.nav-item {
    cursor: pointer;
}

.nav-item:not(.nav-logo) {
    font-size: 1rem;

    &:hover:not(.active) {
        color: rgba(255, 255, 255, 0.7);
    }
}

.nav-logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2em;
}
