<div class="trainer-page">
    <h2>Welcome to your trainer page {{ trainerService.trainer.username }}.</h2>
    <div class="pokemon-list">
        <app-pokemon-list></app-pokemon-list>
    </div>
    <div
        class="mute-btn"
        [ngClass]="[audioIsMuted ? 'muted' : 'unmuted']"
        (click)="muteBtn()"
    ></div>
</div>
