.trainer-page {
    position: relative;
    padding: var(--v-padding) var(--h-padding) 0 var(--h-padding);
}

h2 {
    font-size: 2rem;
    margin-bottom: 3.5rem;
}

.mute-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid black;
    cursor: pointer;
}

.unmuted {
    background-image: url(../../../assets/volume.png);
}
.muted {
    background-image: url(../../../assets/mute.png);
}
