<div class="info-modal">
    <div class="close-btn center" (click)="closeInfo.emit()">X</div>
    <h2>
        Info about <span class="pokemon-name">{{ pokemon!.name }}</span>
    </h2>

    <div class="info-content">
        <div class="info-section">
            <div class="flex v-center pointer" (click)="toggleMoves()">
                <h3>Moves</h3>
                <div class="toggle">
                    {{ showMoves ? "▼" : "►" }}
                </div>
            </div>
            <ng-container *ngIf="showMoves">
                <div class="add-info">
                    <div class="item" *ngFor="let move of pokemonInfo.moves">
                        {{ move.move.name }}
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="info-section">
            <div class="flex v-center pointer" (click)="toggleGames()">
                <h3>Games</h3>
                <div class="toggle">
                    {{ showGames ? "▼" : "►" }}
                </div>
            </div>
            <ng-container *ngIf="showGames">
                <div class="add-info">
                    <div
                        class="item"
                        *ngFor="let gameInfo of pokemonInfo.game_indices"
                    >
                        {{ gameInfo.version.name }}
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="info-section">
            <div class="flex v-center pointer" (click)="toggleOther()">
                <h3>Other</h3>
                <div class="toggle">
                    {{ showOther ? "▼" : "►" }}
                </div>
            </div>
            <ng-container *ngIf="showOther">
                <div class="add-info">
                    <div>
                        <span class="label">Height:</span>
                        {{ pokemonInfo.height / 10 }} meters
                    </div>
                    <div>
                        <span class="label">Weight:</span>
                        {{ pokemonInfo.weight / 10 }} kilograms
                    </div>
                    <div class="flex">
                        <span
                            class="label"
                            [ngStyle]="{ 'margin-right': '0.35rem' }"
                            >Type:</span
                        >
                        <div class="item">
                            {{ types!.join(", ") }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
