.info-modal {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2.2rem;
    background-color: var(--clr-blue);
    border: 1px solid white;
    color: white;
    z-index: 100;
    width: 350px;
    text-align: left;
    border-radius: 5px;
    z-index: 200;

    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.2rem;
        width: 50px;
        height: 35px;
        display: flex;
        line-height: 0;
        background-color: var(--clr-blue-light);
        border-bottom-left-radius: 8px;
        border-top-right-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }

    h2 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1.5rem;
        font-weight: normal;
    }

    .pokemon-name {
        text-transform: capitalize;
        font-weight: bold;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .toggle {
        font-weight: normal;
        font-size: 1.3rem;
        letter-spacing: 0px;
        margin-left: 0.4rem;
        user-select: none;
    }

    .add-info {
        font-size: 1rem;
        margin-left: 2.3rem;
        padding: 0.8rem 0 0.8rem 1.3rem;
        background-color: var(--clr-blue-light);
        display: flex;
        flex-direction: column;
        row-gap: 0.2em;

        .item {
            text-transform: capitalize;
        }
    }

    .label {
        font-weight: 500;
    }

    .info-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
