<!-- <form #landingForm="ngForm" (ngSubmit)="landingSubmit(landingForm)">

</form>
 -->
 <!-- <main class="container mx-auto px-4">
    <app-landing-form (landing)="handleLanding()"></app-landing-form>
 </main> -->

<!-- <div class="landing-page">


    <app-landing-form></app-landing-form>
</div>
 -->