.pokemon-catalogue-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(208, 208, 208);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 6px;
    width: 130px;
    padding: 0.4em;

    .content {
        width: 100%;
    }

    .img-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img.pokemon-img {
            height: max-content;
            aspect-ratio: 1 / 1;
        }
    }

    .pokemon-name {
        color: black;
    }

    .pokemon-name::first-letter {
        text-transform: capitalize;
    }

    .collected-ball {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
        background-image: url(../../../assets/pokeball.png);
        background-size: contain;
    }

    &:hover {
        border: 1px solid rgb(255, 141, 141);
    }

    &:hover .info-btn {
        display: flex;
    }

    .info-btn {
        position: absolute;
        display: none;
        top: 5px;
        left: 5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 1.2rem;
        color: white;
        font-style: italic;
        font-family: serif;
        background-color: rgb(98, 183, 193);
        cursor: pointer;
        user-select: none;
        z-index: 100;
    }

    .additional-info-container {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 2rem;
        border: 2px solid var(--clr-red-dark);
        background-color: rgb(246, 226, 226);
        z-index: 100;
        min-width: 280px;
        text-align: left;
        border-radius: 5px;
        z-index: 200;

        .close-btn {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 1.5rem;
            width: 30px;
            height: 30px;
            display: flex;
            border: 1px solid var(--clr-red-dark);
            border-top: none;
            border-right: none;
            background-color: rgb(242, 170, 170);
            border-bottom-left-radius: 15px;
            border-top-right-radius: 5px;
            cursor: pointer;
        }

        h2 {
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1rem;
        }

        .toggle {
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 0px;
        }

        .add-info {
            text-transform: capitalize;
            font-size: 0.9rem;
        }
    }
}
