<div class="pokemon-catalogue-item">
    <div class="info-btn center" (click)="infoBtn()">i</div>
    <div class="content">
        <div class="img-container">
            <img [src]="imgUrl" alt="" class="pokemon-img" />
        </div>
        <div class="space-between v-center w-100">
            <div class="pokemon-name" [ngStyle]="{ fontSize: fontSize + 'px' }">
                {{ pokemon.name }}
            </div>
            <div
                (click)="addBtnClicked(this)"
                [ngClass]="[
                    'action-btn',
                    'add-btn',
                    'animation-click-' + isActive
                ]"
            ></div>
        </div>
    </div>
    <ng-container *ngIf="collected">
        <div class="collected-ball"></div>
    </ng-container>

    <ng-container *ngIf="showInfo">
        <app-info-modal
            [pokemon]="pokemon"
            [pokemonInfo]="pokemonInfo"
            (closeInfo)="toggleInfo()"
        ></app-info-modal>
    </ng-container>
</div>
