<div class="catalogue-page">
    <h3>Pokemon catalogue</h3>
    <h4>Add pokemons to your collection by pressing the green + button.</h4>
    <app-pokemon-catalogue [pokemonData]="pokemonData"></app-pokemon-catalogue>
</div>
