<div class="landing-container h-100">
    <form class="landing-form-container" #landingForm="ngForm" (ngSubmit)="landingSubmit(landingForm)">
        <!-- <div>
            
        </div> -->
        <div class="input-trainer">
            <div class="pokeball"></div><!-- <label class="trainer-text-box" for="Trainer" class="block">Trainer</label> -->
            <input type="text" 
            ngModel 
            #username="ngModel"
            name="username" id="username" 
            class="input-field" placeholder="Trainer Name"/>
        </div>
        <div class="button-warning">
            <button class="login-form-button" type="submit" >Login</button>
            <label class="invalid-login" *ngIf="isInValidUsername">* Trainer name needs to contain more than TWO characters!</label>
        </div>
        <div
        class="mute-btn"
        [ngClass]="[audioIsMuted ? 'muted' : 'unmuted']"
        (click)="muteBtn()"
    ></div>
        
    </form>
</div>
