.landing-container {
    border-top: 2px solid black;
    border-top-style: ridge;
    display: flex;
    //border: 1px solid black;
    background-image: linear-gradient(var(--clr-red) 10%, #ffffff 90%);
    justify-content: center;
    //height: 100hv;
    /* background-image: linear-gradient(to bottom, transparent 96%, #9370db 96%),
        linear-gradient(to right, #1e0033 96%, #9370db 96%);
    background-size: 50px 50px, 50px 50px; */
}

.pokeball {
    width: 100px;
    height: 100px;
    //position: absolute;
    margin-top: 50px;
    margin-left: 275px;
    border: none;
    background-image: url(../../../assets/pokeball.png);
    background-size: contain;
}

.landing-form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    //flex-wrap: wrap;
    /* row-gap: 2em;
    column-gap: 2em; */
    //display: inline-block;
    text-align: center;
    //margin-left: 500px;
    //padding: 25px;
}

.input-trainer {
    display: flex;
    flex-direction: column;
    row-gap: 2em;

    .trainer-text-box {
    }
    .input-field {
        text-align: center;
        font-size: 50px;
        border-radius: 30px;
        padding: 10px;
    }
}

.button-warning {
    display: flex;
    flex-direction: column;
    row-gap: 2em;

    .login-form-button {
        background-color: rgb(248, 95, 95);
        border-radius: 50px;
        font-size: 40px;
        color: white;
    }
    .login-form-button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    .login-form-button:active {
        background-color: rgb(189, 59, 59);
        transform: scale(0.99);
    }
    .invalid-login {
        color: red;
    }
}

.mute-btn {
    position: absolute;
    top: 0;
    right: 100px;
    margin-top: 10px;

    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size: 64px;
    background-position: center;
    background-repeat: no-repeat;
    border: 6px solid black;
    cursor: pointer;
}

.unmuted {
    background-image: url(../../../assets/volume.png);
}
.muted {
    background-image: url(../../../assets/mute.png);
}
