.battle-page {
    padding: var(--v-padding) var(--h-padding);
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.battle-log {
    padding: 2rem;
    background-color: rgb(19, 19, 20);
    color: white;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .battle-log-content {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}
