<ng-container *ngIf="isLoaded">
    <div class="battle-page">
        <app-battle-side
            [pokemon]="trainerService.opponentBattlePokemon!"
            [target]="trainerService.battlePokemon!"
            [side]="'opponent'"
        >
        </app-battle-side>

        <app-battle-side
            [pokemon]="trainerService.battlePokemon!"
            [target]="trainerService.opponentBattlePokemon!"
            [side]="'player'"
            [attack]="attack"
        >
        </app-battle-side>

        <div class="battle-log">
            <h3>Battle log</h3>
            <div class="battle-log-content">
                <ng-container *ngFor="let entry of battleService.battleLog">
                    <div class="battle-log-entry">
                        <span class="bold">{{ entry.attacker.name }}</span>
                        attacked
                        <span class="bold">{{ entry.target.name }}</span>
                        with <span class="bold">{{ entry.move.name }}</span
                        >. It
                        {{
                            entry.success
                                ? "dealt " + entry.move.power + " dmg"
                                : "missed.."
                        }}
                        dmg.

                        <ng-container *ngIf="entry.over">
                            <span class="bold">{{ entry.target.name }}</span>
                            fainted..
                            <span class="bold">{{ entry.attacker.name }}</span>
                            won!
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
