<div class="battle-side">
    <h2>{{ side }}</h2>
    <h3>{{ pokemon.name }}</h3>
    <div class="img-container">
        <img *ngIf="pokemon.currentHp > 0" [src]="pokemon!.img.front" alt="" />
        <div class="hp-bar">
            <div
                class="cur-hp"
                [style.width]="
                    (pokemon!.currentHp / pokemon!.startHp) * 100 + '%'
                "
            ></div>
        </div>
        {{ pokemon.currentHp + " / " + pokemon.startHp }}
    </div>
    <div class="moves-container">
        <ng-container *ngFor="let move of pokemon!.moves">
            <div
                class="move"
                [style.background-color]="'var(--clr-' + move.type + ')'"
                (click)="moveUsed(move)"
            >
                <div class="move-name">
                    {{ move.name }}
                </div>
                <div>
                    <div>Power: {{ move.power }}</div>
                    <div>PP: {{ move.pp }}/{{ move.startpp }}</div>
                    <div>Accuracy: {{ move.accuracy }}</div>
                    <div>Type: {{ move.type }}</div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
