.battle-side {
    border: 1px solid black;
    background-color: rgb(217, 217, 217);
    padding: 2rem;
}

.hp-bar {
    position: relative;
    width: 200px;
    padding: 0.5rem;
    border-radius: 100px;
    background-color: #000000;

    .cur-hp {
        height: 17px;
        background-color: #8dcc45;
        border-radius: 100px;
        font-weight: 500;
        font-size: 0.8rem;
    }
}

h2 {
    text-transform: uppercase;
}

.moves-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    .move {
        width: 200px;
        height: 150px;
        border: 2px solid black;
        cursor: pointer;

        .move-name {
            background-color: #fff;
            padding: 0.4rem 1rem;
            font-weight: bold;
            font-size: 1rem;
        }
    }
}
