<!-- <ng-container> -->
    <!-- <app-landing-form (landing)="handleLanding()"></app-landing-form>
    <app-trainer-page></app-trainer-page>
    <app-catalogue-page></app-catalogue-page> -->

    <!-- <div class="container">
        <app-landing-form></app-landing-form>
        <app-trainer-page></app-trainer-page>
        <app-catalogue-page></app-catalogue-page>
    </div> -->
<!-- </ng-container> -->
<router-outlet></router-outlet>
