<div class="pokemon-catalogue-container center">
    <ng-container *ngIf="pokemonData !== undefined">
        <app-pokemon-catalogue-item
            *ngFor="let pokemon of pokemonData.results"
            [pokemon]="pokemon"
            [collected]="trainerService.isPokemonCaptured(pokemon)"
        ></app-pokemon-catalogue-item>
    </ng-container>
</div>
