:root {
    /* --clr-green: #26c485; */
    --clr-green-desaturated: #7dd3a1;
    --clr-green: #26c468;

    --clr-red: #dd2837;
    --clr-red-dark: #c42330;

    --clr-blue: #5e7ce2;
    --clr-blue-light: #7b95e9;

    --clr-primary: var(--clr-green);

    --h-padding: clamp(30px, 6vw, 200px);
    --v-padding: clamp(80px, 7vw, 180px);

    /* POKEMON TYPES COLORS */
    --clr-grass: #78c850;
    --clr-fire: #f08030;
    --clr-water: #6890f0;
    --clr-bug: #a8b820;
    --clr-normal: #ffffff;
    --clr-poison: #a040a0;
    --clr-electric: #f8d030;
    --clr-ground: #e0c068;
    --clr-fairy: #ee99ac;
    --clr-fighting: #c03028;
    --clr-psychic: #f85888;
    --clr-rock: #b8a038;
    --clr-ghost: #705898;
    --clr-ice: #98d8d8;
    --clr-dragon: #7038f8;
    --clr-steel: #ababab;
    --clr-flying: #e3e3e3;

    /*

    '#78C850', '#F08030', '#6890F0', #A8B820', 
    '#A8A878', '#A040A0', '#F8D030', '#E0C068', 
    '#EE99AC', '#C03028', '#F85888 '#B8A038', 
    '#705898', '#98D8D8', '#7038F8',

    */
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
}

.test {
    //background-color: green;
    height: 100vh;
    position: relative;
}

.h-100 {
    height: 100hv;
    position: relative;
}

.flex {
    display: flex;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.v-center {
    display: flex;
    align-items: center;
}

.w100 {
    width: 100%;
}

.gap-05rem {
    column-gap: 0.7rem;
    row-gap: 0.7rem;
}

.pointer {
    cursor: pointer;
}

.gap-02rem {
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: var(--clr-primary);
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 5px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;

    border: none;
    cursor: pointer;
}

.bg-plus {
    background-image: url(../src/assets/plus-icon.svg);
}

.add-btn {
    background-color: var(--clr-primary);
    background-image: url(../src/assets/plus-icon.svg);
}

.remove-btn {
    background-color: var(--clr-red-dark);
}

.pokeball-btn {
    width: 50px;
    height: 50px;
    background-image: url(./assets/pokeball.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.1s;
    border-radius: 50%;

    &:hover {
        transform: scale(1.3) rotate(10deg);
        transition: 0.2s;
    }
}

.bold {
    font-weight: bold;
}

.animation-click-true {
    animation-name: check-animation;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.animation-click-false {
    animation-name: check-animation-again;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.animation-wiggle {
    animation-name: pokeball-wiggle;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes check-animation {
    0% {
        transform: rotate(0deg);
        background-image: inherit;
    }
    15% {
        transform: rotate(360deg);
        background-color: var(--clr-green-desaturated);
        background-image: url(../src/assets/checkmark-icon.svg);
    }
    100% {
        transform: rotate(360deg);
        background-color: var(--clr-green-desaturated);
        background-image: url(../src/assets/checkmark-icon.svg);
    }
}

@keyframes check-animation-again {
    0% {
        transform: rotate(360deg);
        background-color: var(--clr-green-desaturated);
        background-image: url(../src/assets/checkmark-icon.svg);
    }
    /*     15% {
        transform: rotate(360deg);
        background-color: var(--clr-green-desaturated);
        background-image: url(../src/assets/checkmark-icon.svg);
    } */
    100% {
        transform: rotate(0deg);
        background-color: var(--clr-green-desaturated);
        background-image: url(../src/assets/checkmark-icon.svg);
    }
}

@keyframes pokeball-wiggle {
    0% {
        transform: scale(inherit) rotate(-10deg) translate(0);
    }
    33% {
        transform: scale(1.3) rotate(60deg) translate(7px, -8px);
    }
    66% {
        transform: scale(1.3) rotate(-60deg) translate(-2px, 5px);
    }
    100% {
        transform: scale(inherit) rotate(0deg) translate(0);
        border: 3px solid rgb(113, 232, 245);
    }
}
